<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  
  <div id="pager-test" ng-controller="PagingTest as pager">
    <label>Elementos: <input type="text" ng-model="pager.elements"/></label>
    <label>Cant./página: <input type="text" ng-model="pager.pageSize"/></label>
    <button ng-click="pager.refresh()">Test</button><br/>
    
    <ul>
      <li ng-repeat="page in pager.pages">
        <a href ng-click="pager.setPage()">{{page}}</a>
      </li>
    </ul>
  </div>
  

    

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>