<ul class="pagination">
  <li>
    <a id="prev" ng-click="prev()" role="button" href="" ng-class="{ disabled: firstPage }">
      <span>&lt;</span>
    </a>
  </li>

  <li ng-repeat="number in pages track by $index" ng-class="{ active: page === number }">
    <a ng-attr-id="ng-pager-page-{{ number }}" ng-click="setPage(number)" role="button" href="">
      <span class="ng-binding">{{ number }}</span>
    </a>
  </li>

  <li>
    <a id="next" ng-click="next()" role="button" href="" ng-class="{ disabled: lastPage }">
      <span>&gt;</span>
    </a>
  </li>
</ul>
